/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Basic reset for consistent styling across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Local font and color variables */
:root {
  /* Color Variables */
  --color-jet: #2e2e2e;
  --color-mardigras: #8d0386;
  --color-orangeengineering: #BB0E0E;
  --color-desertsand: #d0b8a8;
  --color-buff: #dba180;
  --color-lightcoral: #f08080;
  --color-whitesmoke: #f5f5f5;
  --color-champagne: #F7E7CE;
  --color-orangecarrot: #f89604;
  --color-orangepeel: #fda63a;
  --color-orange: #ff5a00;
  --color-pinklavender: #ffccff;
  --color-sunset: #ffcf86;
  --color-jasmine: #ffe577;
  --color-vanilla: #fffcad;

  /* Font Variables */
  --font-body: 'Crimson Pro', serif;
  --font-heading: 'Cormorant Garamond', serif;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background-color: var(--color-buff);
  color: var(--color-orangeengineering);
  padding-bottom: 60px;
  /* Avoid content overlapping with sticky footer */
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle, #fda63a 30%, #ff5a00 100%);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Ensures the navbar stays on top */
  width: 100%;
}

/* Logo styling */
.logo h1 {
  font-size: 24px;
}

.logo-img {
  width: 60px;
  filter: drop-shadow(0 0.2rem 0.25rem rgb(255, 60, 0));
}

.nav-links ul {
  list-style: none;
  display: none;
  /* Hidden by default on mobile */
  flex-direction: column;
}

/* When the 'open' class is toggled, the menu should appear */
.nav-links.open ul {
  display: flex;
  /* Flexbox to show the menu in column format */
  flex-direction: column;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-mardigras);
  font-weight: bold;
}

/* Hover effect for menu links */
.nav-links a:hover {
  color: var(--color-pinklavender)
}

/* Hamburger Menu */
.hamburger {
  display: block;
  /* Visible by default on mobile */
  cursor: pointer;
  font-size: 24px;
}

/* Hero Section */
.hero {
  background: url("../images/index-page/hero.webp") no-repeat center center/cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for content-quote section */
.content-quote {
  background-color: transparent;
  padding: 20px;
  margin-bottom: 400px;
  text-align: center;
  font-size: 18px;
  color: var(--color-orangeengineering);
}

#clock {
  font-size: 24px;
  color: var(--color-orangeengineering);
  font-weight: bold;
  background-color: var(--color-desertsand);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

/* Footer Styles */
.footer {
  background: radial-gradient(circle, #fda63a 30%, #ff5a00 100%);
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  /* Ensures the footer stays on top */
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons a {
  color: var(--color-mardigras);
  text-decoration: none;
  font-size: 18px;
}

/* Hover effect for footer icons */
.footer-icons a:hover {
  color: var(--color-pinklavender)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ...
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-links ul {
    display: flex;
    /* Show navigation links on larger screens */
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 15px;
  }

  .hamburger {
    display: none;
    /* Hide hamburger menu on larger screens */
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...
}